<div class="view">
  <div class="container">
      <header>
          <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
      </header>
      <br />
      <div class="container">
          <div class="row">
              <div class="col-md-2">Created by:</div>
              <div class="col-md-10"><a href="https://twitter.com/NishJ04" target="_blank">Nishtha Jain</a></div>
          </div>
          <br />
          <div class="row">
              <div class="col-md-2">LinkedIn:</div>
              <div class="col-md-10"><a href="https://www.linkedin.com/in/nishthajain-04" target="_blank">www.linkedin.com/in/nishthajain-04</a></div>
          </div>
          <br />
          <div class="row">
              <div class="col-md-2">GitHub:</div>
              <div class="col-md-10"><a href="https://github.com/NishthaJain04/CustomerManagement" target="_blank">https://github.com/NishthaJain04/CustomerManagement</a></div>
          </div>
      </div>
  </div>
</div>